:root {
    --dark-bg: #1f2937;
    --btn-color: #3882f6;
    --hero-main-color: #f9faf8;
    --hero-second-color: #e5e7eb;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

html {
    font-family: roboto;
}

/*************************************** HEADER SECTION *************************************/

header {
    background-color: var(--dark-bg);
}

#nav-bar {
    width: 60%;
    height: 60px;
    margin: 0 auto;
    background-color: var(--dark-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#logo {
    font-size: 24px;
    color: var(--hero-main-color);
}

#nav-bar ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar ul li {
    list-style-type: none;
}

.nav-link {
    font-size: 18px;
    color: var(--hero-second-color);
    text-decoration: none;
}

/*************************************** HERO SECTION *************************************/

#hero {
    background-color: var(--dark-bg);
}

#hero-wraper {
    width: 60%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hero-wraper div * {
    margin: 10px 0;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: var(--hero-main-color);
}

.second-text {
    font-size: 18px;
    color: var(--hero-second-color);
}

.hero-btn {
    font-size: 18px;
    color: white;
    background-color: var(--btn-color);
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border:none;
}

.hero-img {
    display: block;
    background-color: var(--hero-second-color);
    color: gray;
    text-align: center;
    padding: 100px auto;
}

/*************************************** INFORMATION SECTION *************************************/

#information {
    background-color: var(--hero-main-color);
}

#information-wraper {
    width: 60%;
    height: 500px;
    margin: 0 auto;
}

#information-wraper h2 {
    font-size: 38px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin: 50px 0;
}

.illustration-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.infos-img {
    width: 200px;
    height: 200px;
    border: 5px solid var(--btn-color);
    border-radius: 10px;
}

.img-subtext {
    width: 200px;
    color: var(--dark-bg);
    font-size: 18px;
    text-align: center;
}

/*************************************** QUOTE SECTION *************************************/

#quote {
    background-color: var(--hero-second-color);
}

#quote-wraper {
    width: 60%;
    height: 500px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#quote-wraper blockquote {
    width: 70%;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#1f2937;
    margin: 0 auto;
    vertical-align: middle;
}

#quote-wraper figcaption {
    width: 70%;
    font-size: 20px;
    color: #1f2937;
    font-weight: 500;
    text-align: right;
    margin: 0 auto;
}

/*************************************** ACTION SECTION *************************************/

#action {
    background-color: var(--hero-main-color);
}

#action-wraper {
    width: 60%;
    height: 500px;
    display: flex;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-sign {
    width: 100%;
    height: 200px;
    background-color: var(--btn-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

#action-wraper h2 {
    font-size: 36px; 
    font-weight: 500;
    color: var(--hero-main-color);
}

#action-wraper p {
    font-size: 18px; 
    font-weight: 300;
    color: var(--hero-main-color);
}

.action-btn {
    font-size: 18px;
    color: white;
    background-color: var(--btn-color);
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid white;
}

/*************************************** FOOTER *************************************/

footer {
    width: 100%;
    height: 100px;
    background-color: var(--dark-bg);
    font-size: 18px;
    color: var(--hero-main-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}